body{ 
    margin:0;
}
.background-windows{
    width:100%;
    min-height:150%;
    position:absolute; 
    z-index:-1;
    background-image: url("../resources/background.jpg");
    background-attachment:scroll;
    background-repeat: repeat;
}
