body{ 
    margin:0;
}
// .background-windows{
//     width:100%;
//     min-height:150%;
//     position:absolute; 
//     z-index:-1;
//     background-image: url("../resources/background.jpg");
//     background-attachment:scroll;
//     background-repeat: repeat;
// }
html { 
    background: url("../resources/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
