.brown-shape{
    position:absolute;
    left:50%;
    top:-20%;
    z-index:-1;
    width:70%;
    overflow:hidden;
    img{
        overflow:hidden;
    }
    @include media('<tablet'){
        display:none;
    }
}
body{ 
    overflow-x:hidden;
}