.calendar__background{
    width:90%;
    height:90vh;
    margin-top:2.5vh;
    position:relative; 
    margin-inline:auto;
    padding:0.5em;
    min-width:450px;
    @include media ('<tablet'){
        padding:20px;
        border-radius:12px;
    }  
    @include media ('<bigPhone'){
        min-width:60vw;
    }  
    .regular{
        color:#fff;
        margin-bottom: 0.5em;
        width:fit-content;
    }
}
.todo{
    color:$pink;
    cursor:pointer;
    div{
        margin:5px;
    }
}
.todo-actions{
    display:flex;
}
.calendar-todo--add{
    display:flex;
    justify-content: center;
    color:$pink;
    cursor:pointer;
    div{
        margin:5px;
    }
}
.calendar-todo{
    background:rgba(0,0,0,.3);
    padding:2px;
    border-radius:5px;
    width:90%;
    margin:5px;
    display:flex;
    overflow:hidden;
}
.cb_month{
    .calendar-todo--add{
        margin-inline:auto;
    }
}
.calendar-week, .calendar-month{
    .todo-content{
        color:$pink;
    }
}
.inner-calendar{ 
    display:flex;
    .calendar-hour.left, .calendar-hour.right{
        width:50%;
   }

   @include media ('<bigPhone'){
    .calendar-hour.left, .calendar-hour.right{
        width:80%;
        margin-inline:auto;
    }
    display:block;
}
}
.selected-date{ 
    display:flex;
    margin-bottom:25px;
    padding:4px;
    background-color:$pink;
    width:fit-content; 
    border-radius:5px;
}

.calendar-week{
    padding:15px;
    display:grid !important;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}
.calendar-week--day{ 
    padding:2px;
    border-radius:5px;
    width:90%;
    margin:5px;
    margin-inline:auto;
    color:white;
}
.calendar-week--day .calendar-todo{
    display:block;
}
.switchWeek{ 
    display:flex;
    justify-content: space-between;
    color:white;
    svg{
        cursor :pointer;
        :hover{
            color:$pink;
        }
    }
}
.calendar-month{ 
    display:grid; 
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    margin-inline:auto;
    background:rgba(0,0,0,.3);
    border-radius:5px;
    margin-top:8vh;
    padding:10px;
    width:90vw;
    @include media ('<tablet'){
        padding:20px;
        background:rgba(0,0,0,.4);
        border-radius:12px;
    }
    @include media ('<bigPhone'){
        width:70vw;
    }
    .regular{
        margin-bottom: 0.5em;
        width:fit-content;
    }
}
