.content-box{
    position:relative; 
    padding:1vh 2vw;
}

.content-box--home{
    width:40%;
    margin-left:auto;
    margin-top:20vh;
    .title:nth-of-type(1){
        color:#fff;
}
    .title:nth-of-type(2){
        color:$green;
        margin-left:2vw;
    }
    .regular{
        color:#fff;
        margin-top:5vh;
        margin-left:6vw;
    }
    @include media ('<tablet'){
        width:50%;
        padding:20px;
        background:rgba(0,0,0,.4);
        border-radius:12px;
    }
}

.content-box__signIn{
    width:40%;
    margin-left:auto;
    margin-top:20vh;
    .title:nth-of-type(1){
        color:$green;
    }
    .regular{
        color:#fff;
        width:70%;
        margin-left: 4vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    @include media ('<tablet'){
        width:50%;
        padding:20px;
        background:rgba(0,0,0,.4);
        border-radius:12px;
    }
    .inline{
        @include media ('<bigPhone'){
            display:block !important;
        }
    }
}
.content-box__Switch{
    position:absolute;
    width:40%;
    margin-left:auto;
    margin-top:8vh;
    left:28vw;
    @include media ('<tablet'){
        width:15%;
        margin-top:9vh;
        background:rgba(0,0,0,.4);
        border-radius:12px;
    }
    .input-form.input-form__signIn.input-form__signIn--pseudo{
        background:rgba(0,0,0,0.4);
    }
    @include media ('<smallTablet'){
        left:0;
        margin-top:1vh;
        display:flex;
        width:fit-content;
        padding-inline:15px;
    }
}
.input__month{ 
    margin-top:-50vw;
}