
.content-box{
    position:relative; 
    padding:1vh 2vw;
}

.content-box--home{
    width:40%;
    margin-left:auto;
    margin-top:20vh;
    .title:nth-of-type(1){
        color:#fff;
}
    .title:nth-of-type(2){
        color:$green;
        margin-left:2vw;
    }
    .regular{
        color:#fff;
        margin-top:5vh;
        margin-left:6vw;
    }
    @include media ('<tablet'){
        width:50%;
        padding:20px;
        background:rgba(0,0,0,.4);
        border-radius:12px;
    }
    @include media ('<bigPhone'){
        width:80%;
        margin-inline:auto;
    }
    background:rgba(0,0,0,.4);
    padding:25px;
    border-radius:5px;
    box-shadow:1px 1px 20px rgba(255, 255, 255, 0.2);
}

.content-box__signIn{
    width:40%;
    margin-left:auto;
    margin-top:20vh;
    .title:nth-of-type(1){
        color:$green;
    }
    .regular{
        color:#fff;
        width:70%;
        margin-left: 4vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    @include media ('<tablet'){
        width:50%;
        padding:20px;
        background:rgba(0,0,0,.4);
        border-radius:12px;
    }
    .inline{
        @include media ('<bigPhone'){
            display:block !important;
        }
    }
    @include media ('<bigPhone'){
        width:80%;
        margin-inline:auto;
    }

    background:rgba(0,0,0,.4);
    padding:25px;
    border-radius:5px;
    box-shadow:1px 1px 20px rgba(255, 255, 255, 0.2);
}
.content-box__Switch{
    position:absolute;
    display:flex;
    top: -70px;
    left:50%;
    transform:translate(-50%, 0%);
    @include media ('<tablet'){
        width:30%;
        border-radius:12px;
    }
    @include media ('<smallTablet'){
        left:20%;
        top:-60px;
        display:flex;
        width:fit-content;
        padding-inline:15px;
    }
    @include media ('<bigPhone'){
        position:inherit;
        left:inherit;
        top:inherit;
        display:flex;
        transform: inherit;
        justify-content: center;
        margin-inline:auto;
    }
    .home-label{ 
        cursor:pointer; 
        &:hover{
            color:$green;
        }
    }
}
.input__month{ 
    margin-top:-50vw;
}
.content-box--chooseFilter{ 
    display:flex;
    width:fit-content;
    margin-inline:auto;
    .chooseFilter{
        color:white;
        margin:25px;
        background:rgba(0,0,0,.4); 
        padding:10px;
        border-radius:5px;
    }
}
.chooseFilter{ 
    display:flex;
    justify-content: center;
    color:white;
    cursor:pointer; 
    &:hover{ 
        color:$green;
    }
}