.todo-content { 
    display:flex;
    @include media('<bigPhone'){
        display:block;
    }
}
.todo-content.archived{
    animation:archived 0.5s ease-in-out; 
    border-radius:5px;
}
.todo-content.archived{
.todo-content--tags,.todo-content--text, .todo-content--tags:first-of-type
.todo-actions{
    color:$green;
    animation:archived2 1s ease-in forwards; 
}
}
.todocontent.archived .todo-actions .calendar-todo--validate{
        svg{ 
            color:$green !important;
            animation:archived2 1s ease-in forwards; 
        }
}
.todo{ width:100%;}
.todo-content--tags{
    color:$yellow;
}
.todo-content--tags:first-of-type{
    margin-left:15px;
}
.todo-actions{
    display: flex;
    width:fit-content;
    margin-left:auto !important; 
}
.todo-actions{ 
    display:flex;
    justify-content: flex-end;
    .calendar-todo--validate{
        &:hover{
        color:$green;
    }
}
    .calendar-todo--edit{
        &:hover{
        color:$yellow;
    }
}
    .calendar-todo--delete{
        &:hover{
        color:$purple;
    }
}
}

.todo-content-week-text{ 
    display:flex; 
}
.todo-content-week-time{ 
    font-size:small; 
    color:$green;
}
.todo-content-week{
    display:block;
}

@keyframes archived{ 
    from{ 
        opacity:0;
        background-color: transparent;
    }
    to{ 
        opacity:1;
        background-color: $green;
    }
}
@keyframes archived2{ 
    to{ 
        color:$green;
    }
}